@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <p>Download our Flutter app 
        <a href="~/app-release.apk">
            here.
        </a>
    </p>
</div>

<div>
    <p>
        Download our Xamarin/MAUI app
        <a href="~/com.companyname.monkeyfinder (1).apk">
            here.
        </a>
    </p>
</div>